@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.logo {
    cursor: pointer;
    width: 288px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(1, 255, 1);
}

li, a, button {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(26, 26, 26);
    text-decoration: none;
}

button {
    padding: 10px 40px;
    background-color: rgba(47, 47, 47, 1);
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: antiquewhite;
}

button:hover {
    background-color: rgba(3, 210, 13, 1);
}

h1 {
    color: rgb(16, 110, 0);
    font-family: "roboto", sans-serif;
    font-size: 85px;
    text-align: left;
    margin-top: 90px;
    margin-left: 120px;
    margin-bottom: 80px;
}

.workGrid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: none;
    justify-content: space-evenly;
}

.img1 {
    
    order: 1;
}

.img2 {
    
    order: 2;
}

.img3 {
    order: 3;
}

.text1 {
    order: 4;
}

.text2 {
    order: 5;
}

.text3 {
    order: 6;;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 60px 50%;
    margin-left: 160px;
    margin-top: 111px;
}

#none {
    background-color: white;
    width: 29px;
    height: 38px;
}

img {
    width: 351px;
}






@media only screen and (max-width: 600px) {

.logo {
     cursor: pointer;
     width: 200px;
     margin-left: 20px;
}

.nav_links li a:hover {
    color: rgb(255, 255, 255);
}

li, a, button {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

button {
    padding: 10px 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: antiquewhite;
}

button:hover {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(16, 110, 0);
    font-family: "roboto", sans-serif;
    font-size: 60px;
    text-align: left;
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 80px;
}

.workGrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas: none;
    justify-content: space-evenly;
}
   
.img1 {
    
    order: 1;
}

.img2 {
    
    order: 3;
}

.img3 {
    order: 5;
}

.text1 {
    order: 2;
}

.text2 {
    order: 4;
}

.text3 {
    order: 6;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-left: 6px;
    margin-top: 50px;
    color: black;
    font-size: 9pt;
}
}